<!DOCTYPE html>


<html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
        {% block extrastyle%}
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static 'navigate/css/current.css' %}">
        {% endblock %}
        <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon'>
        <title>{% block title %} {{ title }} {% endblock title %}</title>
    </head>
    <body>
    
    {% if not notNavigate %}
    <header class="p-3 bg-dark text-white fs-4">
      <div class="container">
        {% block navigate %}
            {% include 'inc/_navbar.html' %}
        {% endblock navigate %}
      </div>
    </hearder>
    {% endif %}
    
    {% block main %} 
    
    {% endblock %}
    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>