<div class="text-white" id="filter">
  <div class="m-1">
    <h5 class='px-4 mx-2' style='margin-bottom: 5px;'>Моя рекомендация</h5>
    
    <div class="mx-2 form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="IRecommendRadio1" checked>
      <label class="form-check-label" for="IRecommendRadio1">
        Все
      </label>
    </div>
    <div class="mx-2 form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="IRecommendRadio2">
      <label class="form-check-label" for="IRecommendRadio2">
        Да
      </label>
    </div>
    <div class="mx-2 form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="IRecommendRadio3">
      <label class="form-check-label" for="IRecommendRadio3">
        Нет
      </label>
    </div>


    <h5 class="px-4 mx-2 mt-3" style="margin-bottom: 5px;">Статус</h5>
    
    <div id='statusChecks'>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
          <label class="form-check-label" for="flexCheck1">
            Запланировано
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
          <label class="form-check-label" for="flexCheck2">
            В процессе
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck3">
          <label class="form-check-label" for="flexCheck3">
            Повтор
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck4">
          <label class="form-check-label" for="flexCheck4">
           Завершено
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck5">
          <label class="form-check-label" for="flexCheck5">
            Брошено
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheck6">
          <label class="form-check-label" for="flexCheck6">
            Отложено
          </label>
        </div>
    </div>
  </div>
</div>