{% with url_name=request.resolver_match.url_name %}
{% if user.is_superuser %}
    <div class="align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a href="{% url 'myList/filmList' %}" class="nav-link text-white hovered {% if url_name == 'myList/filmList' %}current{% endif %}" style='display: block;'>Фильмы</a> .
        <a href="{% url 'myList/seriesList' %}" class="nav-link text-white hovered {% if url_name == 'myList/seriesList' %}current{% endif %}" style='display: block;'>Сериалы</a> .
        <a href="{% url 'myList/gameList' %}" class="nav-link text-white hovered {% if url_name == 'myList/gameList' %}current{% endif %}" style='display: block;'>Игры</a> .
        <a href="{% url 'myList/booksList' %}" class="nav-link text-white hovered {% if url_name == 'myList/booksList' %}current{% endif %}" style='display: block;'>Книги</a> 
      </ul>
    </div>
{% endif %}
{% endwith %}