{% extends 'base.html' %}
{% load static %}


{% block navigate %}
  {{ block.super }}
    {% include 'myList/inc/listNav.html' %}
  {% block search %}{% endblock search %}
{% endblock navigate %}


{% block extrastyle %}
    <link
      rel="stylesheet"
      type='text/css'
      href="{% static 'other/tableRewrite.css' %}">
{% endblock extrastyle %}


{% block main %}
<div class="container">
    <div class='row mt-2'>
      {% if list %}
        <div class="col-md-9">
            <table class='table table-dark table-stripes'>
                <thead>
                    <tr>
                      <th scope="col" class='text-center'>№</th>
                      <th scope="col">Название</th>
                      <th class='text-center' scope="col">Оценка</th>
                      <th class='text-center' scope="col">Советую?</th>
                    </tr>
                </thead>
                <tbody>
                {% for list_ele in list %}
                  {% if list_ele.is_published or request.user.is_staff or request.user.is_superuser %}
                    <tr>
                      <th scope='row' class='text-center'>{{forloop.counter}}</th>
                      <td>
                        <a href="{% url 'myList/productDetail' list_ele.slug %}" class="hoveredReverse current no-underline">{{list_ele.name}}</a>
                      </td>
                      <td class='text-center'>{{list_ele.rating}}</td>
                      <td class='text-center'>{% if list_ele.i_recommend %}Да{% else %}Нет{%endif%}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            {% include 'myList/inc/dynamicFiltersAndSearch.html' %}
        </div>
      {% else %}
        <h1 class="mt-5 text-white text-center">К сожалению, тут пока нет ни одной записи :(</h1>
      {% endif %}
    </div>
</div>
{% endblock main %}


{% block extra_scripts %}
    <script src="{% static 'other/filterRecommend.js' %}"></script>
{% endblock extra_scripts %}