{% extends 'base.html' %}
{% load humanize_data %}
{% load static %}

{% block main %}
<div class="container mt-5">

  {% if user.is_superuser %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center fs-3 border">
        <li>
            <a href="{% url 'myList/choose' product.product_type %}" class="nav-link mx-1 text-white hovered">Назад</a>
        </li>
        <li>
            <a href="{% url 'myList/productDelete' slug=product.slug %}" class="nav-link mx-1 text-white hovered">Удалить</a>
        </li>
        <li>
            <a href="{% url 'admin:myList_product_change' product.pk %}" class="nav-link mx-1 text-white hovered">Обновить</a>
        </li>
        <li>
            <a href="{% url 'admin:index' %}" class="nav-link mx-1 text-white hovered">Админка</a>
        </li>
    </ul>
  {% else %}
    <ul class="nav mb-2 fs-3">
        <li>
            <a href="{% url 'myList/choose' product.product_type %}" class="nav-link mx-1 text-white hovered">← Назад</a>
        </li>
    </ul>
  {% endif %}
    <div class="row text-white">
        <div class="mx-auto">
          <h1 class="text-white">{{ product.name }} / {{product.native_name}}</h1>
          <p class="current">{{ product.product_type|product_type_verbose }} {% if product.i_recommend %} <span class="text-white">/</span> &#10003; я рекомендую{% endif %}</p>
        </div>
        <div class="row pb-5">
          <div class="col-md-3">
            <img src="{% if product.poster %}{{product.poster.url}}{% else %}{% static 'dummy.png' %}{% endif %}" alt="" style="max-width: 100%; height: auto;" />
              <p class="text-center" style='margin-bottom: 0px;'><span style='color: gold; font-size: 32px;'>{{product.rating|rating_like_stars_inline}}</span><span style='font-size: 32px;' class="text-muted">{{product.rating|not_starred}}</span></p>
              <h5 class='text-center'>{{product.rating}}/10 ({{product.rating|rating_verbose}})</h5>
          </div>
          <div class="col-md-9">
            <h5 class="mt-2">Описание:</h5>
            <p class='mt-1' align='justify'>{{ product.description|safe }}</p>
            <h5 class="mt-2">Мое мнение:</h5>
            <p class="mt-1" align='justify'>{{product.opinion|safe}}</p>
          </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block extra_scripts %}
<script>
  let colDiv = document.querySelector('.col-md-9')
  colDiv.querySelectorAll('p').forEach(e => e.className += ' text-muted'); 
</script>
{% endblock extra_scripts %}