{% extends 'base.html' %}
{% load humanize_data %}
{% load static %}


{% block navigate %}{% endblock navigate %}


{% block main %}
<div class="container mt-2">

  {% if user.is_superuser %}
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center fs-3 border">
        <li>
            <a href="{% url 'myList/choose' model_name=product|model_name %}" class="nav-link mx-1 text-white hovered">Назад</a>
        </li>
        <li>
            <a href="{% url 'myList/productDelete' model_name=product|model_name slug=product.slug %}" class="nav-link mx-1 text-white hovered">Удалить</a>
        </li>
        <li>
            <a href="{% url_to_edit_object product %}" class="nav-link mx-1 text-white hovered">Обновить</a>
        </li>
        <li>
            <a href="{% url 'admin:index' %}" class="nav-link mx-1 text-white hovered">Админка</a>
        </li>
    </ul>
  {% else %}
    <ul class="nav mb-2 fs-3">
        <li>
            <a href="{% url 'myList/choose' model_name=product|model_name %}" class="nav-link mx-1 text-white hovered">← Назад</a>
        </li>
    </ul>
  {% endif %}
    <div class="row text-white">
        <div class="mx-auto">
          <h1 class="text-white">{{ product.name }}</h1>
          <p class="current">{{ product|object_verbose_name }} {% if product.i_recommend %} <span class="text-white">/</span> &#10003; я рекомендую{% endif %}</p>
        </div>
        <div class="row pb-5">
          <div class="col-md-3">
            <img src="{% if product.poster %}{{product.poster.url}}{% else %}{% static 'dummy.png' %}{% endif %}" alt="" style="max-width: 100%; height: auto;" />
            {% if product.avg_p_rate %}
              <p class="text-center" style='margin-bottom: 0px;'><span style='color: gold; font-size: 32px;'>{{product.avg_p_rate|starred}}</span><span style='font-size: 32px;' class="text-muted">{{product.avg_p_rate|not_starred}}</span></p>
              <h5 class='text-center'>{{product.avg_p_rate|floatformat:"0" }}/10 ({{product.avg_p_rate|rating_verbose}})</h5>
              <a style="text-align: center; display: block;'" class='text-center text-muted' href="{% url 'rating/productDetailRating' model_name=product|model_name pk=product.pk %}">перейти к полной оценке</a>
            {% else %}
              <p class="text-center text-muted" style='font-size: 32px; margin-bottom: 0px;'>★★★★★★★★★★</p>
              <h5 class="text-center">оценки нет</h5>
            {% endif %}
          </div>
          <div class="col-md-9">
            <h5 class="mt-2">Описание:</h5>
            <p class='mt-1' align='justify'>{{ product.description|safe }}</p>
            <h5 class="mt-2">Мое мнение:</h5>
            <p class="mt-1" align='justify'>{{product.opinion|safe}}</p>
          </div>
        </div>
    </div>
</div>
{% endblock main %}


{% block extra_scripts %}
<script>
  let colDiv = document.querySelector('.col-md-9')
  colDiv.querySelectorAll('p').forEach(e => e.className += ' text-muted'); 
</script>
{% endblock extra_scripts %}