<div class="container">
    <footer class="py-5 my-5 text-white border-top">
        <div class="row row-cols-5">
            <div class="col"></div>
            <div class="col">
              <h5>Написать мне</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://vk.com/dimalunev" class="nav-link p-0 text-muted">Вконтакте</a></li>
                <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/dmitriy-lunev/" class="nav-link p-0 text-muted">LinkedIn</a></li>
                <li class="nav-item mb-2"><a href="mailto:dima.lunev14@gmail.com" class="nav-link p-0 text-muted">Почта</a></li>
                <li class="nav-item mb-2"><a href="https://t.me/alittlemoron" class="nav-link p-0 text-muted">Телеграм</a></li>
              </ul>
            </div>
            <div class="col">
              <h5>Серверы/игры/Списки</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://steamcommunity.com/id/Dmitriylunev/" class="nav-link p-0 text-muted">Steam</a></li>
                <li class="nav-item mb-2"><a href="https://shikimori.one/A+Little+Moron" class="nav-link p-0 text-muted">Shikimori</a></li>
                <li class="nav-item mb-2"><a href="https://www.kinopoisk.ru/user/15668721/" class="nav-link p-0 text-muted">Кинопоиск</a></li>
              </ul>
            </div>
            <div class="col">
              <h5>Разное</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://github.com/ALittleMoron/django_mySite" class="nav-link p-0 text-muted">Исходный код</a></li>
                <li class="nav-item mb-2"><a href="https://github.com/ALittleMoron/" class="nav-link p-0 text-muted">Мой GitHub</a></li>
                <li class="nav-item mb-2"><a href="{% url 'rating/ratingSystem' %}" class="nav-link p-0 text-muted">Рейтинговая система</a></li>
              </ul>
            </div>
            <div class="col">
            </div>
        </div>
            <div class="row mt-5">
                <p class="text-center text-muted">Проект распространяется по лицензии <a class="text-muted" href="https://unlicense.org">"The Unlicense"</a>.</p>
            </div>
      </footer>
</div>