{% with url_name=request.resolver_match.url_name %}
    <div class="align-items-center justify-content-center justify-content-lg-start ">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
        <a href="{% url 'homePage' %}" class="nav-link px-2 text-white {% if url_name == 'homePage' %}current{% endif %}">Домашняя</a></li> .
        <li><a href="{% url 'microblog/postList' %}" class="nav-link px-2 text-white {% if url_name == 'microblog/postList' %}current{% endif %}">Микроблог</a></li> .
        <li><a href="{% url 'resume' %}" class="nav-link px-2 text-white {% if url_name == 'resume' %}current{% endif %}">Резюме</a></li> .
        <li><a href="#" class="nav-link px-2 text-white {% if url_name == 'watchList' %}current{% endif %}">Библиотека</a></li>
      </ul>

      {% block search %}
        {% include 'microblog/inc/_searchbar.html' %}
      {% endblock search %}
    </div>
{% endwith %}