<header class="p-3 bg-dark text-white fs-4">
  <div class="container">
    <div class="align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Микроблог</a></li> .
        <li><a href="#" class="nav-link px-2 text-white">Резюме</a></li> .
        <li><a href="#" class="nav-link px-2 text-white">Список просмотренного</a></li>
      </ul>

      {% block search %}{% endblock search %}

    </div>
  </div>
</header>