{% extends 'microblog/microblogBase.html' %}

{% block navigate %}
{% if user.is_superuser %}
    <div class="align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
</ul>
</div>
{% endif %}
{{ block.super }}
{% endblock navigate %}


{% block main %}
<div class="container mt-1">
  {% include 'microblog/inc/_tagsList.html' %}
<div class="mt-2"></div>
{% for post in posts %}
{% if request.user.is_staff or request.user.is_superuser or post.is_published %}
<div class="card text-white bg-dark border border-white">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <p class="nav-link active">Пост</p>
      </li>
      <li class="nav-item">
        <h2 class="navbar-brand mx-3">{{post.title|truncatewords:50}}</h2>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.text|truncatewords:50|safe}}</p>
    <a href="{% url 'microblog/postDetail' slug=post.slug %}" class="btn btn-danger btn-custom">Подробнее</a>
  </div>
</div>
{% endif %}
{% empty %}
<p class="fs-1 text-white text-center">Видимо, я пока что ничего не написал (или ещё не опубликовал). Вернитесь сюда позже.</p>
{% endfor %}
</div>
{% endblock main %}